---
layout: default
menu: main
title: Projects
---

<div ng-app="projects" ng-controller="MainCtrl as ctrl" class="project-page">
  <div class="tags tag-list">
    <div class="tag" ng-repeat="tag in ctrl.all_tags|orderBy:'toString()'" ng-click="ctrl.toggleTag(tag)" ng-class="{selected: ctrl.isTagSelected(tag)}">[[ tag ]]</div>
  </div>
  <div class="project-list">
    <div class="project" ng-repeat="project in ctrl.projects|orderBy:ctrl.orderProjects" ng-class="{unselected: !ctrl.isProjectSelected(project)}">
      <a href="[[ project.url ]]" class="logo" target="_blank" ng-if="project.image"><img src="[[ project.image ]]"></a>
      <a href="[[ project.url ]]" class="name" target="_blank">[[ project.name ]]</a>
      <a href="[[ project.url ]]" class="url" target="_blank">[[ project.url|trimurl ]]</a>
      <div class="blurb">[[ project.blurb ]]</div>
      <div class="tags">
        <div class="tag" ng-repeat="tag in project.tags" ng-click="ctrl.toggleTag(tag)"  ng-class="{selected: ctrl.isTagSelected(tag), unselected: ctrl.anyTagsSelected()}">[[ tag ]]</div>
      </div>
    </div>
  </div>
</div>

<script>
var app = angular.module('projects', []);

app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
});

app.filter('trimurl', function() {
  return function(x) {
    return x.split('//')[1].split('/')[0];
  }
});

app.value('ProjectData', [
  {
    name: 'Buckets',
    url: 'https://www.bucketsisbetter.com',
    category: 'website',
    image: '../images/buckets.png',
    tags: ['web', 'Electron', 'React', 'SQLite', 'NodeJS', 'OFX', 'Docker'],
    blurb: 'Buckets is a personal/family finance app with an emphasis on being more secure than other popular apps.',
  },
  {
    name: 'The Proud Pink Balloon',
    url: 'http://www.theproudpinkballoon.com',
    image: '../images/book/balloon.png',
    category: 'book',
    tags: ['book', 'watercolor', 'story'],
    blurb: 'My first children\'s book.  The story of a balloon with an inflated ego.',
  },
  {
    name: 'Conference Quotes',
    url: 'https://www.iffycan.com/generalconference',
    category: 'website',
    tags: ['web', 'AngularJS', 'idea'],
    blurb: "Easily get video clip of portions of General Conference."
  },
  {
    name: 'SimpleFIN',
    url: 'http://simplefin.org',
    category: 'website',
    image: 'http://simplefin.org/img/logo.svg',
    tags: ['web', 'AngularJS'],
    blurb: "SimpleFIN (SFIN) is a protocol definition that let's you give third party tools read-only access to bank transaction data.",
  },
  {
    name: 'Just a Minute',
    url: 'https://github.com/iffy/justaminute',
    category: 'app',
    tags: ['app', 'idea', 'Electron'],
    blurb: 'An OS X app to help me not get stuck when "just checking my email" turns into an hour of not checking my email.  Puts WiFi access on a timer.',
  },
  {
    name: 'Deaf Hippo',
    url: 'https://www.iffycan.com/speechdemo/deafhippo',
    category: 'website',
    image: '../images/hippo.small.png',
    tags: ['web', 'AngularJS', 'speech', 'game', 'demo'],
    blurb: 'Deaf Hippo is a silly game for my daughter and a test of the Web Speech API as implemented in Chrome.',
  },
  {
    name: 'passwordless auth',
    url: 'http://www.iffycan.com/passwordless',
    category: 'website',
    tags: ['web', 'AngularJS', 'idea', 'demo'],
    blurb: "This is a demo of how passwordless authentication in an app might work based on ideas from all around the Internet.",
  },
  {
    name: 'grace',
    url: 'https://github.com/iffy/grace',
    tags: ['library', 'Python', 'Twisted'],
    blurb: "Grace is a hot-swappable port forwarder built on top of Twisted.  It allows you to move live traffic from one port to another with no downtime and wait for existing connections to finish."
  },
  {
    name: 'crapc',
    url: 'https://github.com/iffy/crapc',
    tags: ['library', 'Python', 'Twisted', 'RPC'],
    blurb: "Crapc is yet another RPC-making library.  It supports making JSON-RPC 2.0 compatible RPC systems.",
  },
  {
    name: 'crudset',
    url: 'https://github.com/iffy/crudset',
    tags: ['library', 'Python', 'Twisted', 'SQLAlchemy'],
    blurb: 'Crudset makes it easy to make CRUD functionality that returns a consistent set of fields and even nested objects.'
  },
  {
    name: 'parsefin',
    url: 'https://github.com/iffy/parsefin',
    tags: ['library', 'Python', 'OFX'],
    blurb: 'Parsefin lets you easily parse OFX/OFC files into Python dicts.'
  },
  {
    name: 'Twisted FTW!',
    url: 'http://twistedftw.org',
    tags: ['web', 'Python', 'Twisted', 'AngularJS'],
    blurb: "Twisted FTW! (For the Win) is a growing documentation project meant to make Twisted more approachable and to showcase some of Twisted's great features.",
  },
  {
    name: 'ht',
    url: 'https://github.com/iffy/ht/tree/chrome-ext',
    tags: ['Chrome extension', 'AngularJS', 'idea'],
    blurb: "ht is Chrome extension that makes it easy to visualize and change Home Teaching assignments (an activity we do in my church)."
  },
  {
    name: 'chalkboard',
    url: 'https://github.com/iffy/chalkboard',
    tags: ['web', 'AngularJS', 'Python', 'Twisted', 'PostgreSQL', 'SQLite', 'Server-Sent Events', 'idea', 'demo'],
    blurb: "At my wife's request, here is a collaborative chalkboard with sticky notes.",
  }
]);

app.factory('AllTags', function(ProjectData) {
  var tags = [];
  angular.forEach(ProjectData, function(item) {
    angular.forEach(item.tags, function(tag) {
      if (tags.indexOf(tag) === -1) {
        tags.push(tag);
      }
    });
  });
  return tags;
});

app.controller('MainCtrl', function(ProjectData, AllTags) {
  var ctrl = this;
  ctrl.projects = ProjectData;
  ctrl.all_tags = AllTags;
  ctrl.selected_tags = [];

  ctrl.toggleTag = function(tag) {
    if (!ctrl.isTagSelected(tag)) {
      ctrl.selected_tags.push(tag);
    } else {
      ctrl.selected_tags.splice(ctrl.selected_tags.indexOf(tag), 1);
    }
  }
  ctrl.isTagSelected = function(tag) {
    return ctrl.selected_tags.indexOf(tag) !== -1;
  }
  ctrl.anyTagsSelected = function() {
    return ctrl.selected_tags.length !== 0;
  }
  ctrl.isProjectSelected = function(project) {
    if (!ctrl.anyTagsSelected()) {
      return true;
    }
    for (var i = 0; i < project.tags.length; i++) {
      if (ctrl.isTagSelected(project.tags[i])) {
        return true;
      }
    }
    return false;
  }
  ctrl.orderProjects = function(project) {
    var idx = ProjectData.indexOf(project);
    return idx;
    if (ctrl.anyTagsSelected()) {
      if (ctrl.isProjectSelected(project)) {
        return [0, idx];
      } else {
        return [1, idx];
      }
    } else {
      return [idx];  
    }
  }
  return ctrl;
});
</script>
