---
layout: default
menu: main
title: Words
permalink: /words
---

<style>
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');

.word-entry {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-left: 3px solid rgba(0,0,0,0);
  margin-left: -1rem;
  padding-left: 1rem;
}
.word-entry:active,
.word-entry:focus,
.word-entry:target {
  outline: none;
  border-color: steelblue;
}
.word-entry .word {
  display: inline;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 2rem;
  font-weight: 100;
}
.word-entry .definition {
  display: block;
}
.word-entry .definition:before {
  content: '\2014';
  color: rgba(0,0,0,0.2);
  margin-right: .4rem;
  margin-left: 1rem;
}
.word-entry .sample {
  display: block;
  margin-top: 0;
  margin-left: 1rem;
  height: 0;
  opacity: 0;
}
.word-entry:active .sample,
.word-entry:focus .sample,
.word-entry:target .sample {
  margin-top: 1rem;
  height: auto;
  opacity: 1;
}
.source {
  font-style: italic;
}
.word-entry .meta {
  display: inline-block;
  font-size: .8rem;
  opacity: 0;
  position: relative;
  bottom: 4px;
}

.word-entry:active .meta,
.word-entry:focus .meta,
.word-entry:target .meta {
  opacity: 1;
}
.word-entry .meta > div {
  display: inline-block;
}
.word-entry .meta > div:before {
  content: '\2013';
  margin: 0 .3rem;
  font-style: normal;
  color: rgba(0,0,0,0.2);
}
</style>


<p>
  Here are some words I either like, don't/didn't know, couldn't define or couldn't form into a novel sentence.  If often find these while reading good books, write them down on my bookmark, then put them here.
</p>

{% assign sorted_words = (site.data.words | sort: 'word') %}
{% for word in sorted_words %}
<a name="{{ word.word }}"></a>
<div class="word-entry" tabindex="0" id="{{ word.word }}">
  <div class="word">{{ word.word }}</div>
  <div class="meta">
    <div><a href="#{{ word.word }}">&sect;</a></div>
    {% if word.phonetic %}<div class="phonetic">{{ word.phonetic }}</div>{% endif %}
    {% if word.part %}<div class="part-of-speech">{{ word.part }}</div>{% endif %}
    {% if word.src %}
    <div class="source">
      {{ word.src }}{% if word.src_page %} p{{ word.src_page }}{% endif %}
    </div>
    {% endif %}
  </div>
  {% if word.definition %}<div class="definition">{{ word.definition }}</div>{% endif %}
  {% if word.sample %}<div class="sample">{{ word.sample }}</div>{% endif %}
</div>

{% endfor %}