{% extends 'base.html' %}

{% block body %}
  <header class="floater">
    <div class="header-guts">
      <div class="title">
        <a href="/">
          <div class="name">{{ SITENAME }}</div>
          <div class="subtitle">{{ SITESUBTITLE }}</div>
        </a>
      </div>

      <nav>
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <a{% if p == page %} class="active"{% endif %} href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
          {% endfor %}
        {% endif %}
      </nav>
    </div>
  </header>

  {% block content %}
  {% endblock %}
  
  
  <footer class="main">
    <a href title="is my Gmail address">haggardii</a>
    &bull; <a href="https://github.com/iffy" target="_blank">github.com/iffy</a>
  </footer>
  
{% endblock %}