{% extends 'base.fullnav.html' %}

{% block content %}
<section class="frontpage">
  <div class="hero">
    <img src="images/family3.jpg" alt="My girls.">
    <div class="blurb blurb-right">
      Hi, I'm
      <br/>
      <span class="name">Matt Haggard</span>
      <br/>(the one in the blue shirt)
      <br/>I'm a dad,
      <br/>who studied Electrical Engineering,
      <br/>and <span data-toggle="tooltip" title="Python, AngularJS, PostgreSQL...">programs</span> for a living.
      <br/>
      <br/>I'm a <a href="http://www.mormon.org/" target="_blank">Mormon</a> and
      <br/>some people call me Iffy.
    </div>
  </div>

</section>
{% endblock %}
