{% extends 'base.fullnav.html' %}

{% block content %}
<section class="frontpage">
  <img src="images/family3.jpg" style="border-radius: 50%;">

  <hr/>

  <div class="blurb col-xs-12">
    Hi, I'm
    <br/>
    <span class="name">Matt Haggard</span>
    <br/>(the one in the blue shirt)
    <br/>I'm a dad,
    <br/>who studied Electrical Engineering,
    <br/>and <span data-toggle="tooltip" title="Python, AngularJS, PostgreSQL...">programs</span> for a living.
    <br/>
    <br/>I'm a <a href="http://www.mormon.org/" target="_blank">Mormon</a> and
    <br/>some people call me Iffy.
  </div>

</section>
{% endblock %}
