{% extends 'base.fullnav.html' %}

{% block content %}
<div ng-app="projects" ng-controller="MainCtrl as ctrl" class="project-page">
  <div class="tags tag-list">
    <div class="tag" ng-repeat="tag in ctrl.all_tags|orderBy:'toString()'" ng-click="ctrl.toggleTag(tag)" ng-class="{selected: ctrl.isTagSelected(tag)}">[[ tag ]]</div>
  </div>
  <div class="project-list">
    <div class="project" ng-repeat="project in ctrl.projects|orderBy:ctrl.orderProjects" ng-class="{unselected: !ctrl.isProjectSelected(project)}">
      <a href="[[ project.url ]]" class="logo" target="_blank" ng-if="project.image"><img src="[[ project.image ]]"></a>
      <a href="[[ project.url ]]" class="name" target="_blank">[[ project.name ]]</a>
      <a href="[[ project.url ]]" class="url" target="_blank">[[ project.url|trimscheme ]]</a>
      <div class="blurb">[[ project.blurb ]]</div>
      <div class="tags">
        <div class="tag" ng-repeat="tag in project.tags" ng-click="ctrl.toggleTag(tag)"  ng-class="{selected: ctrl.isTagSelected(tag), unselected: ctrl.anyTagsSelected()}">[[ tag ]]</div>
      </div>
    </div>
  </div>
</div>

<script>
var app = angular.module('projects', []);

app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
});

app.filter('trimscheme', function() {
  return function(x) {
    return x.split('//')[1];
  }
});

app.value('ProjectData', [
  {
    name: 'Buckets',
    url: 'https://www.bucketsisbetter.com',
    category: 'website',
    image: '../images/buckets.png',
    tags: ['Web app', 'Website', 'Python', 'Twisted', 'AngularJS', 'RPC', 'SQLAlchemy', 'ElasticSearch', 'PostgreSQL', 'OFX'],
    blurb: 'Buckets is a personal/family finance web app with an emphasis on being more secure than other popular apps.',
  },
  {
    name: 'SimpleFIN',
    url: 'http://simplefin.org',
    category: 'website',
    image: 'http://simplefin.org/img/logo.svg',
    tags: ['Website', 'Web app', 'AngularJS'],
    blurb: "SimpleFIN (SFIN) is a protocol definition that let's you give third party tools read-only access to bank transaction data.",
  },
  {
    name: 'grace',
    url: 'https://github.com/iffy/grace',
    tags: ['Library', 'Python', 'Twisted'],
    blurb: "Grace is a hot-swappable port forwarder built on top of Twisted.  It allows you to move live traffic from one port to another with no downtime and wait for existing connections to finish."
  },
  {
    name: 'crapc',
    url: 'https://github.com/iffy/crapc',
    tags: ['Library', 'Python', 'Twisted', 'RPC'],
    blurb: "Crapc is yet another RPC-making library.  It supports making JSON-RPC 2.0 compatible RPC systems.",
  },
  {
    name: 'crudset',
    url: 'https://github.com/iffy/crudset',
    tags: ['Library', 'Python', 'Twisted', 'SQLAlchemy'],
    blurb: 'Crudset makes it easy to make CRUD functionality that returns a consistent set of fields and even nested objects.'
  },
  {
    name: 'parsefin',
    url: 'https://github.com/iffy/parsefin',
    tags: ['Library', 'Python', 'OFX'],
    blurb: 'Parsefin lets you easily parse OFX/OFC files into Python dicts.'
  },
  {
    name: 'Twisted FTW!',
    url: 'http://twistedftw.org',
    tags: ['Website', 'Python', 'Twisted', 'AngularJS'],
    blurb: "Twisted FTW! (For the Win) is a growing documentation project meant to make Twisted more approachable and to showcase some of Twisted's great features.",
  },
  {
    name: 'ht',
    url: 'https://github.com/iffy/ht/tree/chrome-ext',
    tags: ['Chrome extension', 'AngularJS'],
    blurb: "ht is Chrome extension that makes it easy to visualize and change Home Teaching assignments (an activity we do in my church)."
  },
  {
    name: 'chalkboard',
    url: 'https://github.com/iffy/chalkboard',
    tags: ['Web app', 'AngularJS', 'Python', 'Twisted', 'PostgreSQL', 'SQLite', 'Server-Sent Events'],
    blurb: "At my wife's request, here is a collaborative chalkboard with sticky notes.",
  }
]);

app.factory('AllTags', function(ProjectData) {
  var tags = [];
  angular.forEach(ProjectData, function(item) {
    angular.forEach(item.tags, function(tag) {
      if (tags.indexOf(tag) === -1) {
        tags.push(tag);
      }
    });
  });
  return tags;
});

app.controller('MainCtrl', function(ProjectData, AllTags) {
  var ctrl = this;
  ctrl.projects = ProjectData;
  ctrl.all_tags = AllTags;
  ctrl.selected_tags = [];

  ctrl.toggleTag = function(tag) {
    if (!ctrl.isTagSelected(tag)) {
      ctrl.selected_tags.push(tag);
    } else {
      ctrl.selected_tags.splice(ctrl.selected_tags.indexOf(tag), 1);
    }
  }
  ctrl.isTagSelected = function(tag) {
    return ctrl.selected_tags.indexOf(tag) !== -1;
  }
  ctrl.anyTagsSelected = function() {
    return ctrl.selected_tags.length !== 0;
  }
  ctrl.isProjectSelected = function(project) {
    if (!ctrl.anyTagsSelected()) {
      return true;
    }
    for (var i = 0; i < project.tags.length; i++) {
      if (ctrl.isTagSelected(project.tags[i])) {
        return true;
      }
    }
    return false;
  }
  ctrl.orderProjects = function(project) {
    var idx = ProjectData.indexOf(project);
    return idx;
    if (ctrl.anyTagsSelected()) {
      if (ctrl.isProjectSelected(project)) {
        return [0, idx];
      } else {
        return [1, idx];
      }
    } else {
      return [idx];  
    }
  }
  return ctrl;
});
</script>


{% endblock %}