<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.excerpt %}{% assign description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}{% else %}{% assign description = site.description | strip_html | strip_newlines %}{% endif %}
  <meta name="description" content="{{ description }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="{{ page.title or site.title }}" />
  <meta property="og:description" content="{{ description }}&hellip;" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.date %}<meta property="og:updated_time" content="{{ page.date }}" />{% endif %}
  {% if page.image %}<meta property="og:image" content="{{ site.url }}{{ page.image }}" />{% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
