/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    .wrapper {
        position: relative;
        z-index: 5;
    }
    .hugepic {
        position: relative;
        top: -56px;
        margin-bottom: -56px;
        img {
            z-index: 1;
        }
        .attribution {
            text-align: center;
            font-size: 12px;
            opacity: 0.5;
            padding: 0.5rem;
        }
    }
}

.site-title {
    font-family: $title-font-family;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    margin-top: 3rem;
    //list-style: none;

    > li {
        margin-left: $spacing-unit / 2;
        margin-bottom: $spacing-unit / 2;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    // skinny
    &.skinny {
        position: relative;
        padding-right: $aside-width;
        span.aside {
            position: absolute;
            width: $aside-width;
            left: $content-width - $aside-width;
            font-style: italic;
            line-height: 1.3rem;
            font-size: 0.8rem;
            border: 1px solid #3498db;
            border-width: 0px 0px 0px 1px;
            padding: 0.5rem 0.5rem 0.5rem;
            background: #eee;
            &.red {
                border-color: #e74c3c;
            }
            @include media-query($on-palm) {
                display: inline-block;
                float: right;
                position: static;
                margin: 0.5rem;
                border-width: 0px;
            }
        }
    }
    margin-bottom: $spacing-unit;

    @include media-query($on-palm) {
        padding-right: 0;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    hr {
        height: 1px;
        border: 0;
        border-bottom: 1px solid $grey-color-light;
        margin: 1rem 0;
    }
}


/**
 * Front page
 */
 .frontpage {
    .blurb {
        text-align: center;
        .name {
            font-size: 1.5rem;
        }
    }
    .hero {
        position: relative;
        img {
            width: 100%;
        }
        
    }
}

/**
 * Misc
 */
$yellow: rgba(241, 196, 15, .8);
$blue: rgba(52, 152, 219, .8);
.madlib {
  box-sizing: border-box;
  //font-family: 'Trykker', serif;
  font-size: 1rem;
  border-radius: 3px;
  border: 3px solid $yellow;
  padding: 0.5rem;
  margin: -0.5rem 0;
  display: inline;
  width: auto;
  &:focus,
  &:active {
    box-shadow: none;
    outline: none !important;
    background: $yellow;
  }
}
.madlib.blue {
  border: 3px solid $blue;
  &:focus,
  &:active {
    background: $blue;
  }
}


/**
 * Project page
 */
.project-page {
  .tags {
    .tag {
      display: inline-block;
      padding: 0.2rem 0.5rem 0.1rem;
      margin: 0.2rem;
      font-size: 0.8rem;
      background: rgba(241, 196, 15, 0.3);
      transition: background 0.2s, opacity 0.2s;
      cursor: pointer;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &.unselected {
        opacity: 0.5;
      }
      &.selected {
        background: rgba(241, 196, 15, 1.0);
        opacity: 1.0;
      }
    }
  }
  .tag-list {
    padding: 3rem;
    text-align: center;
  }
  .project-list {
    display: flex;
    flex-flow: row wrap;
    @include media-query($on-palm) {
        display: block;
    }
    .project {
      flex-basis: 50%;
      box-sizing: border-box;
      padding: 3rem;
      transition: opacity 0.2s, -webkit-filter 0.2s, -o-filter 0.2s, filter 0.2s;
      @include media-query($on-palm) {
        margin: 0 auto;
        //max-width: $two-column-threshold/2;
      }
      &.unselected {
        opacity: 0.5;
        -webkit-filter: blur(9px);
        -o-filter: blur(9px);
        filter: blur(9px);
      }
      .logo {
        float: right;
        margin-right: 2rem;
        img {
          width: 64px;
        }
      }
      .name {
        font-family: $title-font-family;
        font-size: 2rem;
        display: block;
        color: $grey-color-dark;
      }
      .url {
        display: block;
      }
      .blurb {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}