@import 'reset';

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Trykker);

$content-width: 900px;
$header-shrink-threshold: 500px;

$text-font-size: 1.1rem;
$text-line-height: 2rem;

$aside-width: 180px;
$aside-margin: 20px;
$article-width: $content-width - 2 * ($aside-width + $aside-margin);

$grey: #666;
$light-grey: #ccc;

html {
  font-size: 14px;
}

body {
  font-family: 'Trykker', serif;
}

%title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

%text {
  font-size: $text-font-size;
  line-height: $text-line-height;
}

a {
  color: #428bca;
  text-decoration: none;
}

header.floater {
  .header-guts {
    z-index: 2;
    position: relative;
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0.5rem;
    //border-radius: 0 0px 6px 6px;
    border: 1px solid $light-grey;
    border-width: 0px 0px 1px;
    @media (max-width: $header-shrink-threshold) {
      flex-basis: 100%;
      flex-flow: row wrap;
      padding-top: 2rem;
    }
    .title {
      @extend %title;
      font-size: 3rem;
      padding: 0 2rem;
      white-space: nowrap;
      a {
        white-space: nowrap;
        text-decoration: none;
        color: $grey;
      }
      @media (max-width: $header-shrink-threshold) {
        flex-basis: 100%;
        font-size: 2rem;
      }
    }
    nav {
      flex-grow: 1;
      padding: 1.5rem 0 1.8rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        font-size: 1.1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (max-width: $header-shrink-threshold) {
          display: inline-block;
          margin-right: 0;
        }
      }
      @media (max-width: $header-shrink-threshold) {
        display: block;
      }
    }
  }
}

footer.main {
  max-width: $content-width;
  margin: 0 auto;
  border: 1px solid $light-grey;
  border-width: 1px 0 0;
  padding: 1.5rem 0 1.8rem;
  text-align: center;
}

section.frontpage {
  max-width: $content-width;
  margin: 0 auto;
  .hero {
    position: relative;
    img {
      width: 100%;
    }
    .blurb {
      color: $grey;
      position: absolute;
      top: 0;
      left: 1rem;
      background: rgba(255, 255, 255, 0.8);
      //height: 100%;
      padding: 3rem 1rem;
      text-align: center;
      .name {
        font-size: 2rem;
      }
      @media (max-width: $content-width) {
        position: relative;
        top: 0;
        left: 0;

      }
    }
  }
  
}

section.longform-article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  header {
    .article-title {
      margin: 1rem;
      @extend %title;
      font-size: 5rem;
      text-align: center;
      a {
        color: $grey;  
      }
    }
  }
  .article-info {
    opacity: 0.8;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    .published,
    .modified,
    .authors {
      display: block;
    }
    .authors {
      .author {
        display: inline-block;
      }
    }
  }
  .article-content {
    @extend %text;
    padding: 0.5rem 0rem 0.5rem $aside-margin;
    max-width: $article-width;
    position: relative;
    margin: 0 auto;
    @media (max-width: $content-width) {
      max-width: $content-width;
      padding: 0.5rem;
    }
    span.aside {
      text-indent: 0;
      display: inline-block;
      position: absolute;
      width: $aside-width;
      right: -$aside-width - $aside-margin;
      font-style: italic;
      line-height: 1.3rem;
      font-size: 0.8rem;
      color: $grey;
      border: 1px solid #3498db;
      border-width: 0px 0px 0px 1px;
      padding: 0.5rem 0.5rem 0.5rem;
      background: #eee;
      &.red {
        border-color: #e74c3c;
      }
      @media (max-width: $content-width) {
        display: inline-block;
        float: right;
        position: static;
        margin: 0.5rem;
        border-width: 0px;
      }
    }
    p {
      text-indent: 3rem;
      margin-bottom: 1rem;
      img {
        max-width: 100%;
        margin-left: -3rem;
      }
    }
    hr {
      height: 1px;
      border: 1px solid $light-grey;
      border-width: 1px 0px 0px 0px;
      margin: 2rem;
    }
    blockquote {
      background: #eee;
      padding: 1rem 3rem;
      text-indent: 0;
      margin-bottom: 1rem;
      p {
        text-indent: 0;
        padding: 0;
        margin: 0;
      }
    }
    .simple-footnotes {
      margin-top: 1rem;
      border-top: 1px solid $light-grey;
      padding: 1rem 0rem;
      li {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}